/.project
/lib/
/DokuClient
/DokuClient_amd64
/DokuClient_Linux_0-1-1-82.zip
/DokuClient_Linux_amd64_0-1-1-82.zip
/DokuClient_Win_0-1-1-82.zip
/DokuClient.exe
/DokuServer
/DokuServer_Linux_0-1-1-50.zip
/DokuServer_Win_0-1-1-45.zip
/DokuServer_Win_0-1-1-50.zip
/DokuServer.exe
